<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.16.1" targetFramework="net452" />
  <package id="Microsoft.PowerBI.Api" version="2.0.2" targetFramework="net452" />
  <package id="Microsoft.PowerBI.Core" version="1.1.11" targetFramework="net452" />
  <package id="Microsoft.PowerBI.JavaScript" version="2.3.4" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net452" />
  <package id="Zafir" version="4.0.188.91-beta10" targetFramework="net452" />
  <package id="Zafir.FSharp" version="4.0.188.91-beta10" targetFramework="net452" />
  <package id="Zafir.UI.Next" version="4.0.169.79-beta10" targetFramework="net452" />
</packages>