<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.1.0" newVersion="4.4.1.0" />
      </dependentAssembly>
      <!-- Manual add BEGIN -->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <!-- Manual add END -->
    </assemblyBinding>
  </runtime>
  <system.web>
    <!-- NOTE: remove debug="true" to serve compressed JavaScript -->
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="WebSharper.RemotingModule" type="WebSharper.Web.RpcModule, WebSharper.Web" />
      <add name="WebSharper.Sitelets" type="WebSharper.Sitelets.HttpModule, WebSharper.Sitelets" />
    </modules>
  </system.webServer>
  <appSettings>
    <!--<add key="WebSharper.JQuery.Resources.JQuery" value="scripts/jquery/jquery-3.2.1.min.js" />-->
    <add key="WebSharper.JQuery.Resources.JQuery" value="" />
    <add key="AuthenticationAuthorityURL" value="https://login.windows.net/common/oauth2/authorize/"/>
    <add key="PowerBIAuthURL" value="https://analysis.windows.net/powerbi/api"/>
    <add key="PowerBIApiURL" value="https://api.powerbi.com/"/>
    <add key="PowerBIUserID" value="npm.powerbi@northparkes.com"/>
    <add key="PowerBIPassword" value="BIP@rk35"/>
    <add key="PowerBIAppID" value="04eb5d0e-8a47-4f5a-b0a4-23c9f2c4401f"/>
  </appSettings>
</configuration>
